# Ignore all files in the content directory

content/*/*/*

# configuration/*
configuration/jellyseerr/*
configuration/ombi/*
configuration/jellyfin/*
configuration/qbittorrent/*
configuration/bazarr/*
configuration/prowlarr/*
configuration/lidarr/*
configuration/sonarr/*
configuration/radarr/*
configuration/plex/*
configuration/vpn/*

# Ignore .env files
.env

